@model List<PedidoDataModel>

@using Microsoft.AspNetCore.Identity
@using WebApplication3.Areas.Identity.Data
@using WebApplication3.ViewModels
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager


@{
    
    
    
    ViewData["Title"] = "Cardápio";

}

@if(Model.Count > 0)
{
    var fornecedor = (UserManager.FindByIdAsync(Model.FirstOrDefault().ProdutoFornecedorId)).Result;
<h1>Cardápio - @fornecedor.Nome</h1>





<form asp-action="create" method="POST">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table">
        <thead>
            <tr>
                <th style="width:70%">
                    Produto
                </th>
                <th style="width:15%">
                    Preço
                </th>
                <th style="width:15%">

                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0){
                @for(int i=0; i<Model.Count(); i++)
                {
                    <input type="hidden" asp-for="@Model[i].ProdutoId" value="@Model[i].ProdutoId" />
                    <input type="hidden" asp-for="@Model[i].ProdutoNome" value="@Model[i].ProdutoNome" />
                    <input type="hidden" asp-for="@Model[i].ProdutoPreco" value="@Model[i].ProdutoPreco" />
                    <input type="hidden" asp-for="@Model[i].ProdutoFornecedorId" value="@Model[i].ProdutoFornecedorId" />
                    <tr>
                        <td>
                            <a asp-controller="Produtos" asp-action="Details" asp-route-id="@Model[i].ProdutoId">@Html.DisplayFor(model => model[i].ProdutoNome)</a>
                        </td>
                        <td style="font-weight:bold">
                            R$ @Html.DisplayFor(model => model[i].ProdutoPreco)
                        </td>
                            
                            @if (User.IsInRole("Funcionario") || User.IsInRole("Financeiro"))
                            {
                            <td style="text-align:end">
                                <input asp-for="@Model[i].Quantidade" type="number" min="0" max="99" placeholder="0" />
                            </td>
                            }
                        <td>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
        <div style="text-align:right;align-items:end;align-content:end">
            <input type="submit" value="Comprar" class="btn btn-primary" style="text-align:center;justify-self:right" />
        </div>
    </form>
    






}else
{
    <h4>Restaurante não possui produtos cadastrados!</h4>
}