@using Microsoft.AspNetCore.Identity
@using WebApplication3.Areas.Identity.Data
@model WebApplication3.Models.Produto
@inject UserManager<Usuario> UserManager

@{
    ViewData["Title"] = Model.Nome;
}

<h1>@Model.Fornecedor.Nome</h1>

<div>
    <h4>@Model.Nome</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            Descrição
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            Preço
        </dt>
        <dd class = "col-sm-10">
            R$ @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
</div>

